html, body {
    padding: 0px;
    margin: 0px;
}

html {
    overflow-y: scroll;
}

body {
    background-color: #F2F2F2; /* #F6F6F6 */
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.clearFix { clear: both }

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#popup {
    position: fixed;
    top:30%;
    left: 50%;
    z-index: 200;
    background-color: #fff;
    width: 400px;
    min-height: 150px;
    margin-left: -200px;
    display: none;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.popupTitle {
    background-color: rgb(102, 153, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #fff;
}

#leftTitle {
    display: inline-block;
}

#rightTitle {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.popupContent {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 0.9em;
}