#header { 
	text-align: center; 
	font-size:1.8em; 
	padding-top: 25px;
	padding-bottom: 30px;
	color: #616161;
}

.textContainer {
	font-size: 0.9em;
	color: rgb(96, 96, 96);
	padding-left: 20px;
	padding-right: 20px;
}

.dockBottom {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-left: -15px;
    font-size: 0.75em;
	color: #616161;
}

.dockBottom ul li a {
	border-bottom: none;
}

.dockBottom li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.dockBottom li:last-of-type { padding-right: 0px }

.dockBottom ul { padding-left: 0px }

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 0px;
}

hr { margin-bottom: 30px }

#mid {
    position: relative;
    background-color: #FFF;
    width: 450px;
    height: 400px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
	
	padding-left: 15px;
	padding-right: 15px;
	
    border: 1px solid rgba(100, 100, 100, 0.15);
	box-sizing: border-box;
    z-index: 1;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.tall { height: 480px !important }

.longTall {
    height: 500px !important;
    width: 700px !important;
}

a {
    color: #616161;
	border-bottom: 1px solid #BBB;
}

#mid .register, #mid .verify, #mid .terms, #mid .privacy, #mid .about { display: none; }

form { text-align: center }

input {
    height: 30px;
    width: 240px;
    padding: 5px;
	padding-left: 10px;
    border: 1px solid rgba(100, 100, 100, 0.4);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;   
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.textField {
	margin-top: 15px !important;
}

.textField:first-of-type {
	margin-top:0px !important;
}

input:focus {
    outline: none;
    /*box-shadow: 0px 0px 3px #ccc;*/
    border: 1px solid rgba(100, 100, 100, 0.7);
}

a { cursor: pointer }

input#submit {
    background: none;
    color: #616161;
    width: 200px;
	margin-top: 30px;
}

input#submit:hover {
    color: #000;
    cursor: pointer;
}

/* ===[ About.php ]=== */

#mainLogo {    
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
	margin-bottom: 50px;
}

h3 {
    color: white;
    font-family: inherit;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

h1 {
    font-size: 100px;
    color: #fff;
    margin: 0px;
    padding: 0px;
    margin-bottom: -10px;
}

.dockBelow {
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}

.forgotPass {
	font-size: 0.8em;
	text-align: center;
	margin-top: 20px;
	color: #616161;
}

#errorBar {
	top: 0px !important;
}

footer {
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    float: right;
}