p { margin-bottom: -10px }

p.report {
    font-size: 10px;
    padding-top: 15px;
}

#center {
    margin: 50px  auto;
    width: 1100px;
    position: relative;
    overflow: auto;
}

#content {
    float: left;
    font-color: #000;
    height: auto;
    display: inline;
	min-width: 735px;
}

#contentPost {
    float: left;
    width: 640px;
    margin-bottom: 45px;
    z-index:2;
}

.imgtext {
    margin-top: 20px;
    margin-bottom: 20px; 
	font-size: 0.9em;
}

#contentInfoText {
    padding-left: 30px;
    padding-top: 5px;
    overflow: auto;
}

#contentInfoText .left { float: left }

#contentInfoText .right {
    float: right;
    font-size: 13px;
    height: 20px;
}

.timeago {
    height: 100%;
    display: inline-block;
    padding-right: 30px;
    vertical-align: middle;
}

.admin {
    display: inline-block;
}

.fa-heart {
    color: #AA2E2E;   
}

.fa-heart-o, .fa-heart {
    padding-left: 5px;
}

.fa-heart-o, .fa-heart, .fa-trash-o {
    cursor: pointer;   
}

#heart {
	z-index: 1; 
	position: absolute; 
	margin-top: -13px; 
	margin-left: -24px;
	font-size: 2.5em;
}

.favouriteText {
	text-indent: 1.5em;
}

/* ===[ Image Formatting ]=== */

#contentPost .contentPostImage {
    width: 640px;
    background-color: white;
    border-width: 1px;
    border-color: #DDD;
    border-style: solid;
    text-align: center;
}

.contentPostImage img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.imgPadding {
    padding: 10px;
    width: 620px !important;
}

.imgNoPadding {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#contentPost a {
    color: blue;
    text-decoration: none;
}

/* ===[ Liking the post ]=== */

#contentLike, #contentLikeFollow {
    margin-top: -15px;
    margin-left: 10px;
    float: left;
    text-align: left;
}

/* ===[ Text Formatting ]=== */

.contentPostText {
    background-color: #fff;
    width: 620px;
    height: auto;
    border-width: 1px;
    border-color: #DDD;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
	font-size: 0.9em;
    z-index: 2;
    min-height: 80px;
}

/* ===[ Sidebar (main.css) ]=== */

#sidebar {
    display: inline;
    float: right;
    position: fixed;
    margin-left: 100px;
    width: 300px;
    height: auto;
}

.sideBox {
    border-width: 1px;
    border-style: solid;
    border-color: #DDD;
    background-color: #fff;
	min-height: 60px;
	margin-bottom: 20px;
    padding: 10px;
	font-size: 0.9em;
}

#upload {
    padding-bottom: 5px;
    height: auto;
}

#support {
	font-size: 0.8em;
	color: #4E4E4E;
}

/* ===[ Sidebar textarea (main.css) ]=== */

#uploadText {
    resize: none;
    width: 280px;
    height: 45px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgba(97, 97, 97, 0.44);
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #F8F8F8;
    box-sizing: border-box;
	font-size: 0.9em;
}

#uploadText:focus { height: 120px }

#uploadText::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.uploadRest {
    height: 30px;
    width: 100%;
    margin-top: 5px;
}

#placehold {
    padding: 15px 0px 10px;
}

#placehold .userRecom {
    width: 100%;
    height: 60px;
    padding-left: 10px;
}

.userRecom:first-of-type { margin-top: 20px }

h5 {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-style: solid;
    border-bottom-color: #616161;
    border-bottom-width: 2px;
}

.usernameRecom {
    text-decoration: none;
    color: #666766;
    display: inline-block;
    left: inline;
    margin-top: -40px;
    margin-left: 15px;
}

.usericoRecom { display: inline }

#submitPost {
    float: right;
    font-size: 0.8em;
	line-height: 25px;
}

#submitPost:active {
	background-color: #F3F3F3;
}

.delete:hover, .toast:hover, .burn:hover, .untoast:hover, .unburn:hover, .report:hover, .hide:hover { cursor: pointer }

.toast, .burn, .hide {
    color: black;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hide { visibility: visible }

.burn, .unburn { margin-top: 10px !important; padding-top: 2px; }

.toast, .untoast { margin-top: 15px !important }

.untoast, .unburn {
    color: darkgray;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#uploadname {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    font-size: 0.8em;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #565656;
}

#imageIcon {
    float: left;
    margin-left: 5px;
    margin-top:5px;
}

#imageIcon a {
    float: left;
    color: gray;
}

ul#images { list-style: none; margin: 0px; }

/* ===[ Grid Area (main.css) ]=== */

#gridBox {
    margin: auto;
    position: absolute;
    top: 100; left: 0; right: 0;
    border: 1px solid #DDD;
    width: 500px;
    height: 526px;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 7;
    display: none;
    
}

.gridBoxes {
    width: 150px;
    height: 150px;
    border: 1px black solid;
    display: inline;
    float: left;
    margin: 7px;
    cursor: pointer; 
}

.tall { height: auto !important }

/* ===[ Recipe Area (main.css) ]=== */

.recTitle {
    width: 100%;
    height: 50px;
    margin-top: 16px;
}

.timeServe {
    width: 100%;
    height: 41px;
    text-align:center;
}

p.times {
    margin: 0;
    padding: 0;
    margin-bottom: -18px;
    display: inline;
    font-size: 1.1em;
}

p.ingredList {
    width: 206px;
    height: 22px;
    padding: 0;
    margin: 0;
    display: inline;
    float: left;
    text-align: center;
}

p.instructionList {
    margin: 0;
    padding: 0;
    padding-left: 22px;
    padding-right: 22px;
    width: 576px;
    line-height: 1.6em;
    margin-bottom: 10px;
}

.ingredientDis {
    width: 100%;
    height: auto;
    margin-bottom: 26px;
    float: left;
}

.instructionList {
    width: 100%;
    height: auto;
    margin-bottom: 17px;
}

h6 {
    font-size: 1em;   
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    padding-left: 10px;
}

b.instructionNo {
    font-size: 1.7em;  
}

#blackOverlay {
    opacity: 0.5;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 6;
    top: 0px;
    left: 0px;
    position: fixed;
    display: none;
}
        
#recipeBox {
            margin: auto;
            position: absolute;
            top: 100; left: 0; right: 0;
            border: 1px solid #DDD;
            width: 500px;
            height: auto;
            background-color: #fff;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            z-index: 7;
            display: none;
        }
        
        .recipeHeader {
            margin-bottom: 0;
        }
        
        .recipeContent {
            padding:0;
            margin:0;
        }
        
        h1 {
            margin-bottom: 0;   
        }

        h3 {
            font-weight: 100;
            font-size:1.1em;
            margin: 0;
        }

        h3.recTit {
            margin: 0; 
            font-size: 2em;
            font-weight: 500;
            text-align: center;
        }
        
        #recipeForm {
            margin-top: 7px;
            padding: 10px; 
        }

        #titleBody {
            width: 100%;
            height: 50px;
            margin-bottom: 10px;
        }

        #sectionHeader {
            width: 100%;
            height: 30px;
        }

        .sectionHeaderHalf {
            width: 117px;
            height: 30px;
            display: inline;
            float: left;
            margin-right: 19px;
        }

        .sectionHeaderHalfServe {
            width: 200px;
            height: 30px;
            display: inline;
            float: left;
        }

        .bodyHalf {
            width: 117px;
            height: 50px;
            display: inline;
            float: left;
            margin-bottom: 10px;
            margin-right: 20px;
        }

        .bodyHalfServe {
            width: 200px;
            height: 50px;
            display: inline;
            float: left;
            margin-bottom: 10px;
        }

        #twoHalfsBecomeOne {
            width: 100%;
            height: 90px;
        }

        .leftHeader, .rightHeader { 
            display: inline;
        }

        .leftHeader {
            float: left;   
        }

        .rightHeader {
            float: right;   
        }

        #ingredientBody {
            width: 100%;
            height: auto !important;
            margin-bottom: 10px;
        }

        #instructionBody {
            width: 100%;
            height: auto !important;
        }

        #eachInstruc {
            width: 100%;
            height: 100px;
        }

        input.recipeTitle {
            width: 455px;   
            height: 33px;
            border: 1px solid rgba(100, 100, 100, 0.4);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.95em;
            margin-bottom: 10px;
        }

        input.videoLink {
            width: 455px;   
            height: 33px;
            border: 1px solid rgba(100, 100, 100, 0.4);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.95em;
            margin-bottom: 10px;
        }

        input.recipeIngredients {
            width: 210px;   
            height: 33px;
            border: 1px solid rgba(100, 100, 100, 0.4);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.95em;
            margin-bottom: 10px;
            margin-right: 5px;
        }

        input.recipeTime, input.recipePrepTime {
            width: 18px;   
            height: 33px;
            border: 1px solid rgba(100, 100, 100, 0.4);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 0.95em;
            margin-bottom: 10px;
        }

        input.recipeServe {
            width: 110px;   
            height: 33px;
            border: 1px solid rgba(100, 100, 100, 0.4);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.95em;
            margin-bottom: 10px;   
        }
        
        .leftInstruc {
            width: 30px;
            display: inline;
            float: left;
            height: 86px;
            padding-left: 5px;
        }

        p.number {
            padding-top: 20px;   
        }

        .rightInstruc {
            display: inline;
            float: right;  
            width: 420px;
            font-size: 0.97em;
            height: 86px;
            margin-right:9px;
        }
        
        textarea.recipeInstructions {
            resize: none;
            width: 410.5px;
            height: 79px;
            border: 1px solid rgba(100, 100, 100, 0.4);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            font-family: inherit;
            font-size: 0.97em;
            padding-left: 10px; 
            padding-right: 10px;
            padding-top: 5px;
            padding-right: 5px;
        }

        p.guidelineText {
            font-size: 0.7em;
            margin: 0;
            margin-bottom: 7px;
            margin-top: -12px;
            padding: 0;
        }

        hr.test {  
            border: 0; 
            border-bottom: 1px dashed #ccc; 
            background: #999; 
        }

        div.lite {
        position: relative; left: 0; top: 0
        }
        img.lite:hover {
            background:url(http://lh5.googleusercontent.com/-oBFjswrosz4/TuHqainRc3I/AAAAAAAAAbE/t3rMQuSJdLA/s800/youtube-play-button-hover.png)
        }

/*
@media screen and (max-width: 1125px) {
    #center {
        margin: 0 !important;
        width: 100% !important;
        text-align: center !important;
        min-width: 750px;
    }
    
    #content {
        display: inline-block !important;
        float: none !important;
        width: auto !important;
        margin: 0px auto !important;
    }
    
    #sidebar {
        float: none !important;
        display: block !important;
        margin: 0 auto !important;
        margin-bottom: 30px !important;
        position: relative;
        
    }
}*/