ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    float: right;
}
 
#navbar ul ul {
    position: absolute;
    display: none;
    list-style-type: none;
    background-color: #fff;
    color: #000;
    width: 90px;
    padding-left: 20px;
    font-size: 0.9em;
    right: 5%;
    z-index: 10;
    border: 1px solid rgba(100, 100, 100, 0.2);
    border-top: none;
}

#navbar ul ul li {
    height: 30px;
}

#navbar ul ul li:last-child {
    margin-bottom: 15px;
}

#navbar ul li:hover > ul { display: block }

li.nav {
    margin-left: 10px;
    float: left;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
}

a.navLinks {
    text-decoration: none;
    color: inherit;
	transition: all 120ms ease 0s;
}

a.navLinks:hover { color: #616161 }

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #FFB540;
    background-image: none;
    height: 42px;
    color: #fff;
    border-bottom: 1px solid rgba(100, 100, 100, 0.15);
    box-sizing: border-box;
    line-height: 42px;
}

#navbar .left {
    float: left;
    display: inline;
    margin-left: 5%;
}

#navTitle {
    font-size: 1.4em;	
}

#navbar .right {
    float: right;
    display: inline;
    margin-right: 5%;
    font-size: 1em;
}

#break { margin-top: 70px }

#navAvatar {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
    margin-top: -1px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    background: url(../img/profile2.png) no-repeat;
    background-size: contain !important;
    box-sizing: border-box;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFF;
    margin-top: 20px;
    margin-left: 8px;
    float: right;
}

#errorBar {
    height: 0px;
    width: 100%;
    z-index: 9;
    top: 42px;
    position: fixed;
    background-color: rgb(200, 76, 76);
    text-align: center;
    color: #fff;
    line-height: 35px;
    font-size: 0.9em;
}

#errorClose {
    float: right;
    margin-right: 15px;
    font-size: 1.2em;
    cursor: pointer;
    opacity: 0;
}

#errorText {
    display: inline-block;
    margin-right: -15px; 
}

#loader {
    float:left;
    width: 30%;
    display: inline;
    text-align: center;
}

#searchContainer {
	display: inline-block;
	margin-left: 25px;
	float: left;
}

.searchBar {
	width: 150px;
	color: #fff;
	margin-top: 8px;
	font-size: 0.8em;
	border-radius: 0px 4px 4px 0px;
	border-style: solid;
	border-color: rgba(100, 100, 100, 0.2);
	border-width: 1px 1px 1px 0px;
	height: 25px;
	padding-left: 5px;
	padding-top: 2px;
	box-sizing: border-box;
	background-color: #4979D8;
	float: left;
	font-size: 0.8em;
}

.searchForm {
    display: inline-block;
}

#searchIcon {
	display: inline-block;
	background-color: #4979D8;
	color: #fff;
	float: left;
	margin-top: 8px;
	padding-left: 2px;
	border-radius: 4px 0px 0px 4px;
	border-style: solid;
	border-color: rgba(100, 100, 100, 0.2);
	border-width: 1px 0px 1px 1px;
	box-sizing: border-box;
	height: 25px;
	width: 30px;
	font-size: 0.8em;
	cursor: pointer;
}

.fa-search {
	float: left;
	padding-left: 6px;
	padding-top: 5px;
}