#blackOverlay {
    opacity: 0.5;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}

p {
    margin-bottom: -10px;
    font-size: 18px;
}

.clearFix { clear: both }

#profileButtons {
    position: fixed;
    bottom: 15px;
    left: 0px;
    width: 280px;
    z-index: 11;
}

.buttonstyle {
    border: 1px solid #616161;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    height: 30px;
    width: 75px;
    cursor: pointer;
}

.bottomRow { text-align: center }

#leftProfile {
    float: left;
    display: inline;
    width: 280px;
    background-color: #fff;
    position: fixed;
    height: 100%;
    margin-top: 42px;
    border-right: 1px solid rgb(97, 97, 97);
    margin-left: -280px;
    font-family: 'Roboto', sans-serif;
    z-index: 11;
}

#leftProfile .userInfo {
    margin-top: 20px;
    text-align: center;
}

#rightProfile {
    height: auto;
    margin-top: 65px;
    margin-bottom: 20px;
    float: right;
    width: 100%;
}

#userAvatar {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../img/profile2.png) no-repeat;
    background-size: 150px 150px;
    border: 1px solid #616161;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-sizing: border-box;
}

#avatarOverlay {
    float: right;
    margin-top: -155px;
    margin-right: 40px;
}

.nameRow {
    font-size: 2em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif !important;
}

.locationRow {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1em;
    color: #2f2f2f;
}

.bioRow {
    margin-bottom: 30px;
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #2f2f2f;
    word-wrap: break-word;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 18px;
}

.followerRow {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
}

.followerLeft {
    position: absolute;
    left: 25;
}

.followerTitle {
    color: #242424;
    font-size: 1em;
}

.followerContent {
    color: #2f2f2f;
    font-size: 0.9em;
}

.followerRight {
    position: absolute;
    right: 25;
}

#profileContainer { padding-left: 280px }

p.textPost {
    word-break: break-all;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

.textPost a {
    color: blue;
    text-decoration: none;
}

.backBut { display: none }

/* grid styling pls  */

.banner {
	height: 100%;
	width: 100%;
	position: relative;
	background: none;
	display: inline-table;
	vertical-align: middle;
    text-align: center;
}

.bannerText {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%)        translateY(-50%);
    color: white;
}

.banner:hover .bannerText {
	visibility: visible;
}

/*.banner:hover .blurImage {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	outline: none;
}*/

#tiles {
	list-style-type: none;
	position: relative;
	margin: 0;
	max-height: 400px;
	max-width: 300px;
}

#tiles li {
    max-width: 300px;
    max-height: 400px;
	background-color: #ffffff;
	display: none;
	cursor: pointer;
	overflow: hidden;
    margin: 0;
    padding: 0;
}

#tiles .tiles {
    min-height: 300px;
    max-height: 400px; 
	min-width: 300px;
    text-align:center;
    position: relative;
} 

#tiles ali:nth-child(3n) {
	height: 175px;
}

#tiles ali:nth-child(4n-3) {
	padding-bottom: 30px;
}

#tiles ali:nth-child(5n) {
	height: 250px;
}

p.textPost {
	word-break: break-all;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 1em;
	padding-left: 10px;
	padding-right: 10px;
}

.postUsername {
    visibility: visible;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 3px;
    color: white;
    background: rgb(56, 26, 26);
    background: rgba(56, 26, 26, .5);
    width: auto;
    height: 20px;
}

.postTitle {
    position: absolute;
    top: 45%;
    padding: 3px;
    color: white;
    background: rgb(56, 26, 26);
    background: rgba(56, 26, 26, .5);
    width: 100%;
    height: 40px;
    font-size: 25px;
    padding-top: 10px;
}

.postText {
    visibility: visible;
    position: absolute;
    top: 5px;
    left: 88%;
    width: 23px;
    height: 23px;
    background: rgb(56, 26, 26);
    background: rgba(56, 26, 26, .5);
    -moz-border-radius: 3px 3px;
	border-radius: 3px 3px;
}

.editableContent {
    border: 1px dashed #666;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}