/* ===[ Settings Styles ]=== */

#rightSettings {
    width: auto;
}

p.settingsDetail {
    margin-bottom: -10px;
    font-size: 18px;
}

#settingsContainer {
    width:750px; 
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

.settingsBox {
    background-color: #F3F3F3;
    width: 560px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    overflow: hidden;
    margin-left: 178px;
    display: inline-block;
    text-align: left;
}

.leftSettings {
    width: 160px;
    background-color: #fff;
    float: left;
    transition: transform 0.2s ease-in;
    font-size: 0.9em;
    border: 1px solid rgba(100, 100, 100, 0.5);
    margin-right: 15px;
    position: fixed;
    display: inline-block;
    text-align: left;
}

ul.settingsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.settingsList {
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1em;
    color: black;
}

li.settingsList:last-child {
    margin-bottom: 10px;   
}

li.leftHeader {
    background-color: #F6A628;
    color: #fff;
    font-size: 1.1em;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

li.settingsList:hover {
    /*background-color: #E7E7E7;*/
    color: #6D6D6D;
    cursor: pointer;
}

a.settingsLinks { text-decoration: none }

.rightSettings {
    background-color: #fff;
    width: 559px;
    height: 100%;
}

.container {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    overflow: hidden;
}

.passwordSettingsField {
    margin-top: 30px;
    margin-left: 30px;
    display: none;
}

h3.settings {
    color: #616161;
    margin-bottom: 10px;
}

input.settings, select.settings {
    border: 1px solid rgba(100, 100, 100, 0.5);
    height: 30px;
    width: 200px;
    padding-left:5px;
}

label {
    display: inline-block;
    margin-right: 30px;
    margin-left: 15px;
    text-align: right;
    font-size: 0.9em;
}

.settingsHeader {
    border-bottom-color: #616161;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px;
    
}

p.settingsDetail {
    font-size: 12px;
    margin: 0;
    padding-bottom: 5px;
    color: #828282;
}

.saveSettings {
    border: 1px solid #616161;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    height: 30px;
    width: 100px;
    position: absolute;
    bottom: 20px;
    right: 0px;
}

p.settingsExplain {
    font-size: 12px;
    color: #828282;
    margin: 0;
    padding: 0;
    margin-bottom: -40px;
    margin-left: 20px;
}

#errormsg { color: red }

.rowContainer {
    margin-bottom: 20px;   
}

#leftProfile {
    margin-top: -28px;   
}

.active {
    background-color: #E7E7E7;   
}

#boxContainer {
    display: inline-block;   
}

#colourContainer {
    display: inline-block;
    vertical-align: middle;
}

.colourBox {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    float: left;
}

.orange { background-color: #F6A628 }
.blue { background-color: #6699FF }
.green { background-color: #50B350 }
.red { background-color: #F84343 }
.purple { background-color: #8C68D8 }
.pink { background-color: #CC7AB0 }

.depressedColour {
    
}

/* ===[ Box Styles & Label Sizes ]=== */

#accountdetailsBox {
    height: 320px;
}

#privacyBox {
    height: 320px; 
    display: none;
}

#passwordresetBox {
    height: 280px; 
    display: none;
}

#deleteaccountBox {
    height: 200px;
    display: none;
}

.innerContent {
    font-size: 0.9em;   
}

#accountdetailsBox label { width: 75px; }
#privacyBox label { width: 75px; }
#passwordresetBox label { width: 120px; }
#deleteaccountBox label { width: 75px; }