/* ===[ Settings Styles ]=== */

#rightSettings {
    width: auto;
    overflow: auto;
}

p.settingsDetail {
    margin-bottom: -10px;
    font-size: 18px;
}

#settingsContainer {
    width: 50%;
    margin: 70px auto 0px;
}

#settingsBox {
    background-color: #F3F3F3;
    width: 560px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    overflow: hidden;
}

.leftSettings {
    width: 160px;
    background-color: #fff;
    float: left;
    transition: transform 0.2s ease-in;
    font-size: 0.9em;
    border: 1px solid rgba(100, 100, 100, 0.5);
    margin-right: 15px;
}

ul.settingsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.settingsList {
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1em;
    color: black;
}

li.settingsList:last-child {
    margin-bottom: 10px;   
}

li.leftHeader {
    background-color: rgb(102, 153, 255);
    color: #fff;
    font-size: 1.1em;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

li.settingsList:hover {
    background-color: #E7E7E7;
    color: #6D6D6D;
    cursor: pointer;
}

a.settingsLinks { text-decoration: none }

.rightSettings {
    display: inline;
    float: right;
    background-color: #fff;
    width: 559px;
    height: 100%;
}

.accountSettingsField {
    margin-top: 30px;
    margin-left: 30px;
}

.passwordSettingsField {
    margin-top: 30px;
    margin-left: 30px;
    display: none;
}

h3.settings {
    color: #616161;
    margin-bottom: 10px;
}

input.settings, select.settings {
    border: 1px solid #616161;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    height: 30px;
    width: 200px;
    padding-left:5px;
}

label {
    display: inline-block;
    width: 130px;
    margin-right: 30px;
    text-align: right;
    font-size: 15px;
}

.settingsHeader {
    width: 790px;
    border-bottom-color: #616161;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px;
}

p.settingsDetail {
    font-size: 12px;
    margin: 0;
    padding-bottom: 5px;
    color: #828282;
}

.saveSettings {
    border: 1px solid #616161;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    height: 30px;
    width: 100px;
    margin-left: 50px;
}

form.accountSettings { margin-left: 40px }

p.settingsExplain {
    font-size: 12px;
    color: #828282;
    margin: 0;
    padding: 0;
    margin-bottom: -40px;
    margin-left: 20px;
}

#errormsg { color: red }